Repository GIP-RECIA/template-webcomponent-vue3: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

ci(fix): add required yarn.lock
  yarn.lock
Due: none

build: bump yarn from 4.1.1 to 4.2.2
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

build(yarn): de-duplicate entries
  yarn.lock
Due: none

build: bump yarn from 4.2.2 to 4.3.0
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.3.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

build: bump yarn from 4.3.0 to 4.3.1
  .yarn/releases/yarn-4.3.0.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

refactor: use yarn exec instead of npx
  .husky/commit-msg
  .husky/pre-commit
Due: none

refactor: remove unnecessary
  vite.config.ts
Due: none

build(yarn): bump yarn from 4.3.1 to 4.4.0
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

build(yarn): bump yarn from 4.4.0 to 4.5.0
  .yarn/releases/yarn-4.4.0.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

refactor: cleanup
  .env.schema
  .husky/commit-msg
  .husky/pre-commit
  .nvmrc
  package.json
  src/plugins/i18n.ts
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{js,ts,vue}) or (any of: *.json)
  eslint --fix: any of: src/**/*.{js,ts,vue}
